<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Menüler</div>
                <a class="nav-link" href="/Product/Index/">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Ürünler
                </a>
                <a class="nav-link" href="/Customer/Index/">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-user"></i></div>
                    Müşteriler
                </a>
                <a class="nav-link" href="/Job/Index/">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-sun"></i></div>
                    Meslekler
                </a>
                <a class="nav-link" href="/Job/AddJob/">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-layer-group"></i></div>
                    Yeni Meslek Girişi
                </a>
                <a class="nav-link" href="/Product/AddProduct/">
                    <div class="sb-nav-link-icon"><i class="fas fa-window-restore"></i></div>
                    Yeni Ürün Girişi
                </a>
                <a class="nav-link" href="/Settings/Index/">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-gears"></i></div>
                    Şifre İşlemleri
                </a>
                <a class="nav-link" href="/Login/LogOut/">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-up-right-from-square"></i></div>
                    Çıkış Yap
                </a>
            </div>
        </div>
    </nav>
</div>